<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Translation Document Analyzer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {{ dropzone.load() }}
    {{ dropzone.style('border:2px dashed black; min-height: 400px;') }}
</head>

<body>
    <div class="container p-3 my-3">
        <div class="page-top px-4">
            <h4>TRANSLATION DOCUMENT WORD COUNTER</h4>

            <h6>Upload your files for translation:</h6>
            {{ dropzone.create(action_view='index') }}
            

            <!-- for heroku deployment
            <form action="/result" method="POST" enctype="multipart/form-data"> -->

            <!-- for localhost -->
            <form action="http://localhost:5000/result" method="POST" enctype="multipart/form-data">
                <select name = "sourcelanguage">
                    {% for source, value in data %}
                        <option value="{{ value }}">{{ source }}</option>
                    {% endfor %}

                </select>
                <br><br>
                <select name = "targetlanguage">
                    {% for target, value in data2 %}
                        <option value="{{ value }}">{{ target }}</option>
                    {% endfor %}
                </select>
                
                
                
                <br>
                <input type="file" name="file" />
                <input type="submit" />
            </form>



            <span>Please visit my <a href="https://www.morikaglobal.com" target="_blank">Portfolio site</a> or <a
                    href="https://github.com/morikaglobal/newsdatasummary_app" target="_blank">my github </a> for the
                code of this app.</span>

        </div>

    </div>

    <script>window.addEventListener('message', r, false); function r(event) { if (event.origin == 'https://textomate.com' && event.data.endsWith('px')) { document.getElementById('textomate-qp-iframe').height = event.data; } };</script>
    <iframe src='https://textomate.com/a/plugin/2394460618987408410/en' id='textomate-qp-iframe' width='100%'
        frameBorder='0'></iframe>

</body>

</html>